<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>this is a little piece about {{name}}</p>

    </body>
</html>